<div class="buscador">
  <div class="buscador-container clearfix">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Escribí el animal que buscas" />
            <i class="glyphicon glyphicon-search form-control-feedback"></i>
        </div>
    </div>
  <div class="buscador-container clearfix" style="margin-top: 100px;">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Escribí el tipo que buscas" />
            <i class="glyphicon glyphicon-search form-control-feedback"></i>
        </div>
    </div>

    <div class="buscador-container-vacio clearfix" style="margin-top: 200px;">
      <div class="btn-group-vertical" role="group" aria-label="Seleccioná una opción" style="float: left;">
        <button type="button" class="btn btn-default">Baños</button>
        <button type="button" class="btn btn-default">Fuentes de agua</button>
        <button type="button" class="btn btn-default">Asientos</button>
        <button type="button" class="btn btn-default">Estacionamientos</button>
        <button type="button" class="btn btn-default">Guarda parque</button>
        <button type="button" class="btn btn-default">Museo de historia</button>
        <button type="button" class="btn btn-default">Áreas de descanso</button>
      </div>
    </div>
</div>
