<!-- nav -->
<nav class="navbar navbar-inverse success">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-leaf white"></span>&nbsp; Zoológico de Asunción</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
      <ul class="nav navbar-nav">
        <li> <a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp; Home</a> </li>
        <li> <a href="/#/mapa"><span class="glyphicon glyphicon-globe"></span>&nbsp; Mapa</a> </li>
        <li> <a href="/#/datos"><span class="glyphicon glyphicon-list-alt"></span>&nbsp; Datos</a> </li>
        <li class="active"><a href="/#/about-us"><span class="glyphicon glyphicon-user">&nbsp; About us</a></li>
      </ul>
    </div>
  </div>
</nav>

<p>This is the about view.</p>
